Django==6.0.3
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
djoser==2.3.3

psycopg2-binary==2.9.11

cloudinary==1.44.1
django-cloudinary-storage==0.3.0

python-dotenv==1.0.1
requests==2.32.3

django-cors-headers==4.4.0

uvicorn==0.30.6
whitenoise==6.7.0
